body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    color: black;
}

a {
    text-decoration: none;
}

footer { 
    position: fixed; bottom: 0; 
    font-size: 20px;
}

.header {
    font-size:45px;
}

.small {
    width: 200px;
}

.medium {
    width: 400px;
}

.content {
    text-indent: 300pt;
}