* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-size: 0;
    font-family: 'Raleway', sans-serif;
}

html, body, .wrapper {
    height: 100%;
}

.column {
    background: url('../img/pulse.gif');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 30px;
    vertical-align: top;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    border: 1px solid black;
    padding: 10px 20px;
    position: fixed;
    top: 350px;
    left: 560px;
    margin: 0 15px 15px 0;
    font-size: 20px;
}

.nav-item:hover, .active {
    background: black;
    color: white;
    cursor: pointer;
}

.waking {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-size: 150px;
    font-family: 'Raleway' sans-serif;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    color: red;
}

.hide {
    display: none;
}

.close {
    position: absolute;
    margin: auto;
    top: 47%;
    right: 25px;
    font-size: 20px;
}

.wake {
    position: absolute;
    margin: auto;
    top: 48%;
    left: 25px;
    font-size: 20px;
}