body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #708090;
}

footer { 
    position: absolute; bottom: 0; 
    left: 20px;
}


.section1 {
    position: absolute;
    margin: auto;
    top: 40%;
    right: 45%
}

.section2 {
    position: absolute;
    margin: auto;
    top: 50%;
    right: 45%
}


.content {
    font-size: 20px;
}