body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    color: black;
}

a:link {
    text-decoration: none;
    color: #708090;
}

a:visited {
    color: #708090;
}

a:hover {
    color: white;
}

footer { 
    position: fixed; bottom: 0; 
    font-size: 20px;
}

.header {
    font-size:25px;
}

.small {
    width: 200px;
}

.medium {
    width: 400px;
}

.content {
    text-indent: 300pt;
}

.sleep {
    position: fixed;
    margin: auto;
    top: 44%;
    right: 25px;
    font-size: 20px;
}

.wake {
    position: fixed;
    margin: auto;
    top: 42%;
    left: 25px;
    font-size: 20px;
}