body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color: gray;
}

a:link {
    text-decoration: none;
    color: #708090;
}

a:visited {
    color: #708090;
}

a:hover {
    color: white;
}

footer { 
    position: fixed; bottom: 0; 
    font-size: 20px;
    background: black;
}

.header {
    font-size:45px;
    color: black;
}

.hoverwrap:hover #hovershow {
    display: block;
   }
   
   .hoverwrap #hovershow {
    display: none;
    background-color: rgba(0, 0, 0, 0)
   }