body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:45px;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #708090;
}

footer { 
    position: fixed; bottom: 0; 
}

.section {
    font-size: 12px;
}

.small {
    width: 200px;
}

.medium {
    width: 400px;
}

.content {
    background: #F0F8FF;
    font-size: 20px;
}