* {
    box-sizing: border-box;
    vertical-align: top;
}

.wrapper {
    display: inline-block; 
    width: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}