body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

.content {
    background: #F0F8FF;
    font-size: 20px;
}

.esc {
    background: rgba(0, 0, 0, 0)
}

.sleep {
    position: fixed;
    margin: auto;
    top: 44%;
    right: 50px;
    font-size: 20px;
}

.wake {
    position: fixed;
    margin: auto;
    top: 42%;
    left: 25px;
    font-size: 20px;
}