body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    color: black;
}

a {
    color: #708090;
}

footer { 
    position: fixed; bottom: 0; 
    font-size: 20px;
}

.header {
    font-size:45px;
}

.content {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    animation-iteration-count: infinite
}

    @-webkit-keyframes fadeinout {
      0%,100% { opacity: 0; }
      50% { opacity: 1; }
    }

    @keyframes fadeinout {
     0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

#grad {
    background-image: linear-gradient(white, black);
}