* {
    box-sizing: border-box;
    vertical-align: top;
}

body {
    background:white
    margin: 0;
}

.border {
    background: #009e4f;
    width: 368px;
    height: 368px;
}

.square {
    background: #202665;
    width: 568px;
    height: 568px;
}

.strip {
    background: #d0021b;
    width: 768px;
    height: 100px;
    position: relative;
    top: 100px;
    left: 0px;
}

.background {
    background:#F8E71C;
    width: 768px;
    height: 768px;
}

.rel { 
    position: relative;
    top: 100px; 
    left: 100px;
}
.abs { 
    position: absolute;
    top: 0px;
    left: 0px;
}

.fix { 
    position: fixed; 
    top: 0px;
    right: 0px;
}

.one {
    background: #ED2025;
    width: 334px;
    height: 70.75px;
    display: inline-block;
    margin: 17px 0 0 17px;
    position: relative;
}

.two {
    background: #ED2025;
    width: 334px;
    height: 70.75px;
    display: inline-block;
    margin: 17px 0 0 17px;
    position: relative;
}

.three {
    background: #ED2025;
    width: 334px;
    height: 70.75px;
    display: inline-block;
    margin: 17px 0 0 17px;
    position: relative;
}

.four {
    background: #ED2025;
    width: 334px;
    height: 70.75px;
    display: inline-block;
    margin: 17px 0 0 17px;
    position: relative;
}
